
                           
                           <!-- tabla dos del crud -->
                           <div class="recentCustomer">
                            <div class="cardHeader">
                                <h2>Estudiantes</h2>
                            </div>
                            <table>
                                <tr>
                                    <td width="60px"><div class="imgBxx"><img src="/yooooooo.jpg" alt=""></div></td>
                                    <td><h4>Juan Diego<br><span>701</span></h4></td>
                                </tr>
                                <tr>
                                    <td width="60px"><div class="imgBxx"><img src="/yooooooo.jpg" alt=""></div></td>
                                    <td><h4>Namdi<br><span>801</span></h4></td>
                                </tr>
                                <tr>
                                    <td width="60px"><div class="imgBxx"><img src="/yooooooo.jpg" alt=""></div></td>
                                    <td><h4>Jualia<br><span>805</span></h4></td>
                                </tr>
                                <tr>
                                    <td width="60px"><div class="imgBxx"><img src="/yooooooo.jpg" alt=""></div></td>
                                    <td><h4>Nicolas<br><span>1101</span></h4></td>
                                </tr>
                                <tr>
                                    <td width="60px"><div class="imgBxx"><img src="/yooooooo.jpg" alt=""></div></td>
                                    <td><h4>Kevin<br><span>101</span></h4></td>
                                </tr>
                                <tr>
                                    <td width="60px"><div class="imgBxx"><img src="/yooooooo.jpg" alt=""></div></td>
                                    <td><h4>Didi<br><span>1001</span></h4></td>
                                </tr>
                                <tr>
                                    <td width="60px"><div class="imgBxx"><img src="/yooooooo.jpg" alt=""></div></td>
                                    <td><h4>Pepe<br><span>502</span></h4></td>
                                </tr>
                            </table>
                        </div>
                     </div>